.about-company {
  position: relative;
}

.about-company__contact--index-page {
  background-color: @white;
}

.about-company__map {
  margin: 0 auto;
}

@media (min-width: @desktop-width) {
  .about-company__contact {
    .wrapper();
    position: absolute;
    top: 95px;
    right: 0;
    left: 0;
    z-index: 3;

    background-color: transparent;
  }
}
