.banner {
  font-family: @font-deafult;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: @white;

  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(@banner-color 0, @banner-color 305px, transparent 305px);
  background-repeat: no-repeat;
  background-position: center top;
}

.banner__wrapper {
  .wrapper();
  padding: 27px 0 22px 0;
}

.banner__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.banner__slogan {
  margin: 0;
  margin-bottom: 26px;

  text-transform: uppercase;
}

.banner__img {
  margin-bottom: 1px;
}

.banner__link {
  padding: 11px 10px 11px 10px;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .banner {
    background-image: none;
  }

  .banner__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    padding: 27px 89px 0 89px;
  }

  .banner__title {
    width: 420px;
    margin: 0;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @title-color;
  }

  .banner__slogan {
    width: auto;
    margin: 0;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: @title-color;
  }

  .banner__img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 709px;
    height: auto;
  }

  .banner__link {
    width: 245px;
    margin: 0;
    margin-bottom: 529px;
    padding: 16px 10px 16px 10px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .banner__wrapper {
    padding: 92px 80px 16px 80px;
  }

  .banner__title {
    width: 420px;
  }

  .banner__slogan {
    width: 420px;
    margin-bottom: 53px;
  }

  .banner__img {
    top: 12px;
    right: 218px;
    bottom: auto;
    left: auto;

    width: 552px;
    margin-bottom: 0;
  }

  .banner__link {
    margin-bottom: 252px;
  }
}
