.banner {
  padding: 29px 0px 22px 0px;

  font-family: @font-deafult;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;

  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(@banner-color 0px, @banner-color 305px, transparent 305px);
  background-repeat: no-repeat;
  background-position: center top;
}

.banner__title {
  margin: 0;

  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
}

.banner__slogan {
  margin: 0;

  text-transform: uppercase;
}

.banner__link {
  padding: 11px 10px 11px 10px;

  font-size: 14px;
  line-height: 18px;
}
