.catalog__list {
  .reset-list();
}

.catalog__list-item {
  .wrapper();
}

@media (min-width: @tablet-width) {
  .catalog {
    .wrapper();
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__list-item {
    width: auto;
    margin: 0;
  }
}
