.catalog-extra {
  font-family: @font-text;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: @text-color;
}

.catalog-extra__title {
  .wrapper();
  margin-bottom: 30px;

  font-family: @font-deafult;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @title-color;
}

.catalog-extra__wrapper {
  .wrapper();
}

.catalog-extra__list {
  .reset-list();
  margin-bottom: 39px;
}

.catalog-extra__name-product {
  margin: 0;

  font-family: @font-deafult;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @black--lighten;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-extra__value {
  margin: 0;
}

.catalog-extra__price {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .catalog-extra__title {
    margin-bottom: 75px;
  }

  .catalog-extra__list {
    margin-bottom: 69px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-extra__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .catalog-extra__list {
    width: 895px;
    margin: 0;
  }

  .catalog-extra__gift {
    width: 245px;
  }
}
