.catalog-item {

}

.catalog-item__title {
  font-family: @font-deafult;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: @title-color;
  text-transform: uppercase;
  text-decoration: none;
}
