.categories {
  width: @mobile-width;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0 20px;

  font-family: @font-text;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}

.categories__list {
  .reset-list();
}

.categories__item {
  margin-bottom: 20px;
  padding: 24px 36px 22px 21px;

  background-color: @bg-color;
}

.categories__item:last-child {
  margin-bottom: 0;
}

.categories__title {
  margin: 0;

  font-family: @font-deafult;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @title-color;
  text-transform: uppercase;
}

.categories__text {
  margin: 0;
}

.categories__link {
  font-family: @font-deafult;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @black--light;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .categories {
    width: @tablet-width;
    margin-bottom: 51px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    width: @desktop-width;
    margin-bottom: 79px;
    padding: 0 40px;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }

  .categories__item {
    width: 570px;
    margin-bottom: 0;
  }
}
