.control {

}

.control__button {
  font-family: @font-deafult;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @title-color;
  text-transform: uppercase;

  background: none;
  border: none;
}

.control__bar {

}

.control__toggle {

}
