.contact {
  .wrapper();
  display: flex;
  justify-content: space-between;
  padding: 33px 0 28px 0;

  font-family: @font-text;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: @text-color;

  background-color: #ffffff;
}

.contact__slogan {
  width: 125px;
  margin: 0;

  font-family: @font-deafult;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @title-color;
  text-transform: uppercase;
}

.contact__address {
  width: 140px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .contact {
    padding: 69px 40px 62px 40px;
  }
}

@media (min-width: @desktop-width) {
  .contact {
    margin: 0;
    width: 570px;
    padding: 69px 76px 62px 76px;

    background-color: #ffffff;
  }
}
