.example {
  font-family: @font-text;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: @text-color;

  background-color: @bg-color;
}

.example__title {
  margin: 0;

  font-family: @font-deafult;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @title-color;
}

.example__text {
  margin: 0;
}

.example__list {
  .reset-list();
}

.example__list-item {

}

.example__list-value {
  margin: 0;

  font-family: @font-deafult;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @title-color;
  text-transform: uppercase;
}

.example__list-description {
  margin: 0;

  font-size: 12px;
  line-height: 12px;
}

.example__cost {
  margin: 0;

  font-family: @font-deafult;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @title-color;
  text-transform: uppercase;
}

.example__slider {

}
