.form {
  padding: 39px 0 32px 0;

  font-family: @font-deafult;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: @black--lighten;
}

.form__fieldset {
  .wrapper();
  padding: 0;

  border: none;

  &--cat {
    margin-bottom: 23px;
  }

  &--program {
    width: @mobile-width;
    margin-bottom: 29px;
    padding: 25px 0 26px 20px;
    border: 1px solid @grey--light;
  }

  &--contact {
    margin-bottom: 28px;
  }

  &--comment {
    margin-bottom: 27px;
  }

  &--extra {
    margin-bottom: 33px;
  }
}

.form__legend {
  position: relative;

  margin-bottom: 34px;
  padding: 0;

  font-size: 24px;
  line-height: 24px;
  color: @title-color;

  &--contact {
    width: 182px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 14px;
    left: calc(100% + 22px);

    width: 100vw;
    height: 3px;

    background-color: @green;
  }
}

.form__line {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__list {
  .reset-list();

  &--extra {
    padding: 5px 0 7px 0;
  }
}

.form__list-item {
  margin-bottom: 25px;

  &:last-child {
    margin: 0;
  }
}

.form__label {
  position: relative;

  text-transform: uppercase;

  &--cat {
    margin-right: 14px;
  }

  &--radio {
    margin-left: 45px;
  }

  &--contact {
    margin-right: 10px;
  }

  &--radio::before {
    content: "";

    position: absolute;
    top: -2px;
    left: -45px;

    width: 28px;
    height: 28px;

    background-color: @white;
    border: 8px solid @white;
    box-shadow: 0 0 0 1px @grey;
    border-radius: 50%;
    cursor: pointer;
  }

  &--checkbox {
    margin-left: 45px;
  }

  &--checkbox::before {
    content: "";

    position: absolute;
    top: -2px;
    left: -45px;

    width: 30px;
    height: 30px;

    background-color: @white;
    background-image: none;
    background-size: 22px 17px;
    background-position: 4px 5px;
    background-repeat: no-repeat;
    border: 1px solid @grey;
    cursor: pointer;
  }
}

.form__input {
  flex-grow: 2;
  padding: 12px 10px 13px 15px;

  font-family: @font-deafult;
  font-size: 16px;
  line-height: 18px;
  color: @input-placeholder-color;
  text-transform: uppercase;

  border: 1px solid @input-border-color;

  &::placeholder {
    color: @input-placeholder-color;
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-size: 17px 13px;
    background-position: right 15px center;
  }

  &--tel {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 12px center;
  }

  &:checked ~ .form__label--radio::before {
    background-color: @green;
  }

  &:checked ~ .form__label--checkbox::before {
    background-image: url("../img/icon-tick.svg");
  }
}

.form__textaria {
  width: 100%;
  height: 150px;
  padding: 13px 5px 13px 14px;

  font-family: @font-deafult;
  font-size: 16px;
  line-height: 18px;
  color: @text-color;
  text-transform: uppercase;

  border: 1px solid @input-border-color;
  resize: none;

  &::placeholder {
    color: @input-placeholder-color;
  }
}

.form__button-send {
  .wrapper();
  margin-bottom: 21px;
}

.form__info {
  .wrapper();
  display: block;

  font-family: @font-text;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: @text-color;
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 37px 0 40px;
  }

  .form__fieldset {
    width: 100%;
  }

  .form__button-send {
    width: 283px;
  }

  .form__info {
    width: 283px;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding: 0;
  }

  .form__fieldset--cat {
    width: 568px;
  }

  .form__fieldset--program {
    width: 570px;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__line {
    width: 550px;
  }

  .form__list--extra {
    display: flex;
    justify-content: space-between;
  }

  .form__button-send {
    width: 568px;
  }

  .form__info {
    width: 568px;
  }
}
