.gift {
  min-width: 280px;
  min-height: 289px;
  padding: 43px 60px;

  font-family: @font-text;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: @white;

  background-color: @banner-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.gift__text {
  margin: 0;
}
