.page-main {
  font-family: @font-text;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: @text-color;
}

.page-main__title {
  .wrapper();

  font-family: @font-deafult;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  color: @title-color;
}

.page-main__text {
  .wrapper();

  font-family: @font-deafult;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @title-color;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    margin-bottom: 74px;
  }

  .page-main__text {
    padding: 0 320px 0 40px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__text {
    padding: 0 880px 0 0;
  }
}
