.page-footer {
  text-align: center;

  background-color: @bg-color;
}

.page-footer__wrapper {
  .wrapper();
  padding: 39px 0 23px 0;
}

.page-footer__logo {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 27px;

  vertical-align: middle;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    padding: 59px 0 57px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    margin: 0;

    vertical-align: middle;
  }

  .page-footer__logo-img {
    vertical-align: middle;
  }

  .page-footer__social {
    margin: 0;
    margin-left: 16px;
  }

  .page-footer__copyright {
    width: 162px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding: 58px 0 57px 0;
  }
}
