.show-all-block {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}

.show-all-block__title {
  // margin: 0;

  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.show-all-block__text {
  // margin: 0;
}

