@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.button {
  display: block;
  padding: 10px 10px 10px 10px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: none;
  cursor: pointer;
}
.button--grey {
  color: #444444;
  background-color: #f2f2f2;
}
.page-header {
  margin: 0 auto;
}
@media (min-width: 320px) {
  .page-header {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .page-header {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .page-header {
    width: 1220px;
  }
}
@media (min-width: 768px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px 0 24px 0;
  }
}
.main-nav__toggle {
  display: none;
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 500px;
  }
}
.page-footer {
  text-align: center;
  background-color: #f2f2f2;
}
.page-footer__wrapper {
  margin: 0 auto;
  padding: 39px 20px 31px 20px;
}
@media (min-width: 320px) {
  .page-footer__wrapper {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .page-footer__wrapper {
    width: 1220px;
  }
}
.page-footer__logo {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 31px;
  vertical-align: middle;
}
.page-footer__social {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    padding: 58px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-footer__logo {
    margin: 0;
  }
  .page-footer__social {
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .page-footer__wrapper {
    padding: 60px 0 56px 0;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}
.copyright__text {
  margin: 0;
}
.copyright__link {
  display: block;
  text-align: right;
}
.page-main {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}
.page-main__title {
  margin: 0 auto;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}
@media (min-width: 320px) {
  .page-main__title {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .page-main__title {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .page-main__title {
    width: 1220px;
  }
}
.page-main__text {
  margin: 0 auto;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 320px) {
  .page-main__text {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .page-main__text {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .page-main__text {
    width: 1220px;
  }
}
@media (min-width: 768px) {
  .page-main__title {
    margin-bottom: 74px;
  }
  .page-main__text {
    padding: 0 320px 0 40px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1300px) {
  .page-main__text {
    padding: 0 880px 0 0;
  }
}
.banner {
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(#64a83b 0, #64a83b 305px, transparent 305px);
  background-repeat: no-repeat;
  background-position: center top;
}
.banner__wrapper {
  margin: 0 auto;
  padding: 29px 0 22px 0;
}
@media (min-width: 320px) {
  .banner__wrapper {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .banner__wrapper {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .banner__wrapper {
    width: 1220px;
  }
}
.banner__title {
  margin-bottom: 19px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.banner__slogan {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.banner__img {
  margin-bottom: 3px;
}
.banner__link {
  padding: 11px 10px 11px 10px;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .banner {
    background-image: none;
  }
  .banner__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 61px 90px 0 90px;
  }
  .banner__title {
    width: 420px;
    margin: 0;
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }
  .banner__slogan {
    width: auto;
    margin: 0;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }
  .banner__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .banner__link {
    width: 245px;
    margin: 0;
    padding: 12px 10px 13px 10px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .banner__wrapper {
    padding: 100px 83px 40px 83px;
  }
  .banner__title {
    width: 420px;
  }
  .banner__slogan {
    width: 420px;
    margin-bottom: 53px;
  }
  .banner__link {
    margin: 0;
  }
}
.categories {
  margin: 0 auto;
  margin-bottom: 32px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}
@media (min-width: 320px) {
  .categories {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .categories {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .categories {
    width: 1220px;
  }
}
.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.categories__item {
  margin-bottom: 20px;
  padding: 24px 36px 22px 21px;
  background-color: #f2f2f2;
}
.categories__item:last-child {
  margin-bottom: 0;
}
.categories__title {
  margin: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
.categories__text {
  margin: 0;
}
.categories__link {
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .categories {
    margin-bottom: 51px;
  }
}
@media (min-width: 1300px) {
  .categories {
    margin-bottom: 79px;
  }
  .categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1220px;
  }
  .categories__item {
    width: 570px;
    margin-bottom: 0;
  }
}
.description-product {
  margin: 0 auto;
  margin-bottom: 42px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}
@media (min-width: 320px) {
  .description-product {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .description-product {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .description-product {
    width: 1220px;
  }
}
.description-product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.description-product__title {
  margin: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}
@media (min-width: 768px) {
  .description-product {
    margin-bottom: 11px;
  }
  .description-product__title {
    margin-bottom: 20px;
  }
  .description-product__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .description-product__item {
    width: 324px;
    margin-top: 43px;
    margin-bottom: 44px;
  }
}
@media (min-width: 1300px) {
  .description-product {
    margin-bottom: 0;
  }
  .description-product__item {
    width: 305px;
    margin-bottom: 24px;
  }
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__list-item {
  margin: 0 auto;
}
@media (min-width: 320px) {
  .catalog__list-item {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .catalog__list-item {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .catalog__list-item {
    width: 1220px;
  }
}
@media (min-width: 768px) {
  .catalog {
    margin: 0 auto;
  }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog__list-item {
    width: auto;
    margin: 0;
  }
}
@media (min-width: 768px) and (min-width: 320px) {
  .catalog {
    width: 280px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .catalog {
    width: 708px;
  }
}
@media (min-width: 768px) and (min-width: 1300px) {
  .catalog {
    width: 1220px;
  }
}
.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-item__wrapper {
  width: 140px;
}
.catalog-item__title {
  width: 75px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}
.catalog-item__to-order {
  width: 280px;
}
@media (min-width: 768px) {
  .catalog-item {
    display: block;
    width: 324px;
    margin-bottom: 58px;
    padding: 0 37px 40px 38px;
    background-color: #f2f2f2;
  }
  .catalog-item__wrapper {
    width: auto;
  }
  .catalog-item__title {
    margin: 0 auto;
    margin-bottom: 28px;
  }
  .catalog-item__specs {
    width: 249px;
    margin-bottom: 33px;
  }
  .catalog-item__to-order {
    width: auto;
  }
}
@media (min-width: 1300px) {
  .catalog-item {
    width: 245px;
    padding: 0 38px 40px 38px;
  }
}
.table-specs {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #444444;
}
.show-all-block {
  padding: 0 27px 25px 20px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}
.show-all-block__title {
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .show-all-block {
    width: 324px;
    padding: 55px 37px 40px 38px;
  }
}
@media (min-width: 1300px) {
  .show-all-block {
    width: 245px;
    padding: 55px 38px 40px 38px;
  }
}
.example {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
  background-color: #f2f2f2;
}
.example__title {
  margin: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}
.example__text {
  margin: 0;
}
.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.example__list-value {
  margin: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
.example__list-description {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
}
.example__cost {
  margin: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
.control__button {
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  background: none;
  border: none;
}
.about-company__contact {
  background-color: #ffffff;
}
@media (min-width: 1300px) {
  .about-company {
    position: relative;
  }
  .about-company__contact {
    position: absolute;
    top: 95px;
    left: 110px;
  }
}
.contact {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 0 28px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
  background-color: #ffffff;
}
@media (min-width: 320px) {
  .contact {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .contact {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .contact {
    width: 1220px;
  }
}
.contact__slogan {
  width: 125px;
  margin: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
.contact__address {
  width: 140px;
  margin: 0;
}
@media (min-width: 768px) {
  .contact {
    padding: 69px 40px 62px 40px;
  }
}
@media (min-width: 1300px) {
  .contact {
    width: 570px;
    padding: 69px 76px 62px 76px;
  }
}
.catalog-extra {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}
.catalog-extra__title {
  margin: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
}
.catalog-extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-extra__name-product {
  margin: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
}
.catalog-extra__value {
  margin: 0;
}
.catalog-extra__price {
  margin: 0;
}
.gift {
  min-width: 280px;
  min-height: 289px;
  padding: 43px 60px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-color: #64a83b;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.gift__text {
  margin: 0;
}
.form {
  margin: 0 auto;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #222222;
}
@media (min-width: 320px) {
  .form {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .form {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .form {
    width: 1220px;
  }
}
.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.form__legend {
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}
.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__input {
  padding: 12px 10px 13px 10px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.995);
}
.form__input::-webkit-input-placeholder {
  color: #444444;
}
.form__input:-ms-input-placeholder {
  color: #444444;
}
.form__input::-ms-input-placeholder {
  color: #444444;
}
.form__input::placeholder {
  color: #444444;
}
.form__textaria {
  padding: 15px 15px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.995);
  resize: none;
}
.form__textaria::-webkit-input-placeholder {
  color: #444444;
}
.form__textaria:-ms-input-placeholder {
  color: #444444;
}
.form__textaria::-ms-input-placeholder {
  color: #444444;
}
.form__textaria::placeholder {
  color: #444444;
}
.form__label {
  text-transform: uppercase;
}
.form__info {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .form__fieldset {
    padding: 0 37px 0 40px;
  }
  .form__wrapper--send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 40px 0 40px;
  }
  .form__button-send {
    width: 283px;
  }
  .form__info {
    width: 283px;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .form__fieldset {
    padding: 0;
  }
  .form__wrapper--fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .form__wrapper--send {
    padding: 0;
  }
  .form__button-send {
    width: 568px;
  }
  .form__info {
    width: 568px;
  }
}

/*# sourceMappingURL=style.css.map */
