@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.button {
  display: block;
  padding: 10px 6px 10px 10px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button--grey {
  color: #444444;
  background-color: #f2f2f2;
}
.button--grey:hover,
.button--grey:focus {
  background-color: #ebebeb;
}
.button--grey:active {
  color: rgba(68, 68, 68, 0.3);
}
.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #ebebeb;
}
.page-header__logo {
  margin: 0 auto;
  display: block;
  height: 65px;
}
@media (min-width: 320px) {
  .page-header__logo {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .page-header__logo {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .page-header__logo {
    width: 1220px;
  }
}
.page-header__logo[href]:hover,
.page-header__logo[href]:focus {
  opacity: 0.8;
}
.page-header__logo[href]:active {
  opacity: 0.6;
}
.page-header__logo-img {
  height: 65px;
}
@media (min-width: 768px) {
  .page-header {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px 0;
    border: none;
  }
  .page-header__logo {
    margin: 0;
  }
  .page-header__logo-img {
    width: 174px;
    height: auto;
  }
}
@media (min-width: 768px) and (min-width: 320px) {
  .page-header {
    width: 280px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .page-header {
    width: 708px;
  }
}
@media (min-width: 768px) and (min-width: 1300px) {
  .page-header {
    width: 1220px;
  }
}
@media (min-width: 1300px) {
  .page-header {
    padding: 55px 0 15px 0;
  }
  .page-header__logo {
    width: 203px;
    height: 60px;
  }
  .page-header__logo-img {
    width: 203px;
  }
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 65px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__toggle {
    background-image: url("../img/icon-mobile-menu.svg");
    background-size: 24px 18px;
  }
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--opened .main-nav__toggle {
    background-image: url("../img/icon-close.svg");
    background-size: 18px 18px;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav__toggle {
    display: none;
  }
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}
.site-list__item {
  display: block;
  padding: 22px 20px 23px 20px;
  color: #111111;
  border-top: 1px solid #ebebeb;
}
.site-list__item[href]:hover,
.site-list__item[href]:focus {
  opacity: 0.6;
}
.site-list__item[href]:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 440px;
  }
  .site-list__item {
    position: relative;
    padding: 9px 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #222222;
    border: none;
  }
  .site-list__item:not([href])::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1300px) {
  .site-list {
    width: 479px;
  }
  .site-list__item {
    padding: 10px 0;
    font-size: 20px;
  }
  .site-list--index .site-list__item {
    color: #ffffff;
  }
  .site-list--index .site-list__item:not([href])::before {
    background-color: #ffffff;
  }
}
.page-footer {
  text-align: center;
  background-color: #f2f2f2;
}
.page-footer__wrapper {
  margin: 0 auto;
  padding: 39px 0 23px 0;
}
@media (min-width: 320px) {
  .page-footer__wrapper {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .page-footer__wrapper {
    width: 1220px;
  }
}
.page-footer__logo {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 27px;
  vertical-align: middle;
}
.page-footer__logo[href]:hover,
.page-footer__logo[href]:focus {
  opacity: 0.8;
}
.page-footer__logo[href]:active {
  opacity: 0.6;
}
.page-footer__social {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    padding: 59px 0 57px 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-footer__logo {
    margin: 0;
    vertical-align: middle;
  }
  .page-footer__logo-img {
    vertical-align: middle;
  }
  .page-footer__social {
    margin: 0;
    margin-left: 16px;
  }
  .page-footer__copyright {
    width: 162px;
  }
}
@media (min-width: 1300px) {
  .page-footer__wrapper {
    padding: 58px 0 57px 0;
  }
}
.social {
  padding: 22px 21px 17px 10px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 124px;
  margin: 0 auto;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item-icon {
  fill: #666666;
}
.social__item-icon:hover,
.social__item-icon:focus {
  fill: #68b738;
}
.social__item-icon:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social {
    padding: 0;
    border: none;
  }
  .social__list {
    width: 124px;
  }
  .social__item-icon--vk {
    width: 30px;
    height: 16px;
  }
  .social__item-icon--insta {
    width: 23px;
    height: 23px;
  }
  .social__item-icon--fb {
    width: 14px;
    height: 28px;
  }
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}
.copyright:hover .copyright__icon,
.copyright:focus .copyright__icon {
  fill: #68b738;
}
.copyright:active {
  opacity: 0.3;
}
.copyright__text {
  margin: 0;
}
.copyright__icon {
  fill: #666666;
}
@media (min-width: 1300px) {
  .index-page {
    background-image: url("../img/index-background-desktop@1x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(50vw, transparent), color-stop(50vw, #5eaa2f));
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, transparent 50vw, #5eaa2f 50vw);
    background-repeat: no-repeat;
    background-position: 50vw 0,
      50% 0;
    background-size: auto 696px;
  }
}
.page-main {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
  overflow-x: hidden;
}
.page-main__title {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 28px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}
@media (min-width: 320px) {
  .page-main__title {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .page-main__title {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .page-main__title {
    width: 1220px;
  }
}
.page-main__title--form {
  margin-bottom: 25px;
}
.page-main__text {
  margin: 0 auto;
  padding-right: 30px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 320px) {
  .page-main__text {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .page-main__text {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .page-main__text {
    width: 1220px;
  }
}
@media (min-width: 768px) {
  .page-main__title {
    margin-top: 27px;
    margin-bottom: 83px;
    font-size: 60px;
  }
  .page-main__title--form {
    margin-bottom: 55px;
  }
  .page-main__text {
    padding: 0 320px 0 40px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1300px) {
  .page-main__title {
    margin-top: 58px;
    margin-bottom: 84px;
  }
  .page-main__title--form {
    margin-bottom: 55px;
  }
  .page-main__text {
    padding: 0 880px 0 0;
  }
}
.banner {
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(#64a83b 0, #64a83b 305px, transparent 305px);
  background-repeat: no-repeat;
  background-position: center top;
}
.banner__wrapper {
  margin: 0 auto;
  padding: 27px 0 22px 0;
}
@media (min-width: 320px) {
  .banner__wrapper {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .banner__wrapper {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .banner__wrapper {
    width: 1220px;
  }
}
.banner__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.banner__slogan {
  margin: 0;
  margin-bottom: 26px;
  text-transform: uppercase;
}
.banner__img {
  margin-bottom: 1px;
}
.banner__link {
  padding: 11px 10px 11px 10px;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .banner {
    background-image: none;
  }
  .banner__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 27px 89px 0 89px;
  }
  .banner__title {
    width: 420px;
    margin: 0;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }
  .banner__slogan {
    width: auto;
    margin: 0;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }
  .banner__img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 709px;
    height: auto;
  }
  .banner__link {
    width: 245px;
    margin: 0;
    margin-bottom: 529px;
    padding: 16px 10px 16px 10px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .banner__wrapper {
    padding: 92px 80px 16px 80px;
  }
  .banner__title {
    width: 420px;
  }
  .banner__slogan {
    width: 420px;
    margin-bottom: 53px;
  }
  .banner__img {
    top: 12px;
    right: 218px;
    bottom: auto;
    left: auto;
    width: 552px;
    margin-bottom: 0;
  }
  .banner__link {
    margin-bottom: 252px;
  }
}
.categories {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}
@media (min-width: 320px) {
  .categories {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .categories {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .categories {
    width: 1220px;
  }
}
.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.categories__item {
  margin-bottom: 20px;
  padding: 30px 21px 19px 21px;
  background-color: #f2f2f2;
}
.categories__item:last-child {
  margin-bottom: 0;
}
.categories__item--slim {
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: 23px 22px;
  background-size: 50px auto;
}
.categories__item--pro {
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: 14px 24px;
  background-size: auto 50px;
}
.categories__title {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 70px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
.categories__text {
  position: relative;
  margin: 0;
  margin-bottom: 42px;
}
.categories__text::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  height: 1px;
  width: 240px;
  background-color: #bababa;
}
.categories__link {
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}
.categories__link:active {
  opacity: 0.3;
}
.categories__link::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 12px;
  margin-left: 10px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .categories__item {
    min-height: 372px;
    margin-bottom: 30px;
    padding: 76px 280px 50px 53px;
  }
  .categories__item--slim {
    background-position: 446px 80px;
    background-size: 200px auto;
  }
  .categories__item--pro {
    padding-right: 311px;
    background-position: 412px 91px;
    background-size: auto 200px;
  }
  .categories__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
  }
  .categories__text {
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;
  }
  .categories__text::after {
    display: none;
  }
  .categories__link {
    font-size: 20px;
    font-weight: 400;
  }
  .categories__link::after {
    margin-left: 22px;
    vertical-align: 10%;
  }
}
@media (min-width: 1300px) {
  .categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .categories__item {
    width: 570px;
    margin: 0;
    padding: 76px 52px 30px 52px;
  }
  .categories__item--slim {
    background-position: 52px 41px;
    background-size: 100px auto;
  }
  .categories__item--pro {
    background-position: 34px 47px;
    background-size: auto 100px;
  }
  .categories__title {
    margin-bottom: 74px;
    margin-left: 162px;
  }
  .categories__text {
    margin-bottom: 31px;
  }
}
.description-product {
  margin: 0 auto;
  padding: 17px 0 22px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}
@media (min-width: 320px) {
  .description-product {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .description-product {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .description-product {
    width: 1220px;
  }
}
.description-product__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}
.description-product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.description-product__item {
  position: relative;
  margin-bottom: 20px;
  padding: 2px 0 4px 80px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px;
}
.description-product__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description-product__item::before {
    background-size: 50px auto;
  }
}
.description-product__item--healthy::before {
  background-image: url("../img/advantage-leaf@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description-product__item--healthy::before {
    background-image: url("../img/advantage-leaf@2x.png");
  }
}
.description-product__item--easy::before {
  background-image: url("../img/advantage-powder@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description-product__item--easy::before {
    background-image: url("../img/advantage-powder@2x.png");
  }
}
.description-product__item--economical::before {
  background-image: url("../img/advantage-dining@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description-product__item--economical::before {
    background-image: url("../img/advantage-dining@2x.png");
  }
}
.description-product__item--fast::before {
  background-image: url("../img/advantage-clock@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description-product__item--fast::before {
    background-image: url("../img/advantage-clock@2x.png");
  }
}
@media (min-width: 768px) {
  .description-product {
    padding: 45px 0 12px 0;
  }
  .description-product__title {
    margin-bottom: 29px;
    font-size: 60px;
    line-height: 60px;
  }
  .description-product__list {
    counter-reset: number;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .description-product__item {
    width: 324px;
    min-height: 230px;
    margin-top: 43px;
    margin-bottom: 44px;
    padding: 112px 70px 10px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .description-product__item::before {
    width: 80px;
    height: 80px;
    background-position: 15px 15px;
  }
  .description-product__item::after {
    counter-increment: number;
    content: counter(number);
    position: absolute;
    top: -39px;
    right: 80px;
    z-index: -1;
    display: block;
    width: 135px;
    text-align: center;
    font-family: "Oswald", Tahoma, sans-serif;
    font-size: 281px;
    line-height: 1;
    color: #f2f2f2;
  }
}
@media (min-width: 1300px) {
  .description-product {
    padding: 73px 0 1px 0;
  }
  .description-product__item {
    width: 245px;
    margin-bottom: 24px;
    padding: 112px 0 10px 0;
  }
  .description-product__item::after {
    right: 0;
  }
}
.catalog {
  width: 320px;
  margin: 0 auto;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ebebeb;
}
.catalog__list-item {
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
}
@media (min-width: 320px) {
  .catalog__list-item {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .catalog__list-item {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .catalog__list-item {
    width: 1220px;
  }
}
.catalog__list-item::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: #ebebeb;
}
.catalog__list-item:last-child::after {
  display: none;
}
@media (min-width: 768px) {
  .catalog {
    margin: 0 auto;
  }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: none;
  }
  .catalog__list-item {
    width: auto;
    margin: 0;
    margin-bottom: 58px;
  }
  .catalog__list-item::after {
    display: none;
  }
  .catalog__show-all {
    margin-top: 82px;
  }
}
@media (min-width: 768px) and (min-width: 320px) {
  .catalog {
    width: 280px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .catalog {
    width: 708px;
  }
}
@media (min-width: 768px) and (min-width: 1300px) {
  .catalog {
    width: 1220px;
  }
}
@media (min-width: 1300px) {
  .catalog__list-item {
    margin-bottom: 62px;
  }
  .catalog__show-all {
    margin-top: 80px;
  }
}
.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-item__img {
  display: block;
}
.catalog-item__wrapper {
  width: 140px;
  padding: 21px 0 5px 0;
}
.catalog-item__title {
  width: 75px;
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}
.catalog-item__specs {
  width: 100%;
}
.catalog-item__to-order {
  width: 100%;
}
@media (min-width: 768px) {
  .catalog-item {
    display: block;
    width: 324px;
    padding-bottom: 40px;
    background-image: linear-gradient(transparent 81px, #f2f2f2 81px);
  }
  .catalog-item__img-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 208px;
  }
  .catalog-item__img {
    width: auto;
    height: 172px;
  }
  .catalog-item__img--big {
    height: 208px;
  }
  .catalog-item__wrapper {
    width: auto;
    padding: 37px 37px 33px 38px;
  }
  .catalog-item__title {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 19px;
    font-size: 20px;
    text-align: center;
  }
  .catalog-item__to-order {
    width: 249px;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .catalog-item {
    width: 245px;
  }
  .catalog-item__wrapper {
    padding: 36px 38px 33px 38px;
  }
  .catalog-item__to-order {
    width: 169px;
  }
}
.table-specs {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #444444;
  border-collapse: collapse;
}
.table-specs__name,
.table-specs__value {
  padding: 0;
}
.table-specs__value {
  text-align: right;
}
@media (min-width: 768px) {
  .table-specs {
    font-size: 16px;
  }
  .table-specs__name,
  .table-specs__value {
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.show-all-block {
  padding-top: 79px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 17%;
  background-size: 31px 31px;
}
.show-all-block__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}
.show-all-block__text {
  margin: 0;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .show-all-block {
    width: 324px;
    min-height: 432px;
    padding: 163px 36px 40px 37px;
    background-image: url("../img/icon-plus.svg");
    background-position: 50% 14%;
    background-size: 61px 61px;
    border: 1px solid #cdcdcd;
  }
  .show-all-block__title {
    width: 170px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .show-all-block__text {
    width: 170px;
    margin: 0 auto;
    margin-bottom: 85px;
    font-size: 16px;
    line-height: 19px;
  }
}
@media (min-width: 1300px) {
  .show-all-block {
    width: 245px;
    padding: 163px 38px 40px 37px;
  }
}
.example {
  padding: 17px 0 37px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
  background-color: #f2f2f2;
}
.example__wrapper {
  margin: 0 auto;
}
@media (min-width: 320px) {
  .example__wrapper {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .example__wrapper {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .example__wrapper {
    width: 1220px;
  }
}
.example__title {
  margin: 0;
  margin-bottom: 23px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}
.example__text {
  margin: 0;
  margin-bottom: 25px;
}
.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 7px;
}
.example__list-value {
  width: 124px;
  margin: 0;
  padding: 13px 5px 17px 5px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}
.example__list-description {
  width: 88px;
  margin: 0 auto;
  margin-top: -9px;
  margin-bottom: 15px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  background-color: #f2f2f2;
}
.example__cost-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 37px;
}
.example__cost {
  margin: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
}
.example__cost:first-child {
  margin-right: 3px;
}
.example__slider {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example {
    padding: 43px 0 68px 0;
    background-color: transparent;
    background-image: linear-gradient(to top, transparent 462px, #ffffff 462px), linear-gradient(to right, #f2f2f2 50%, #ebebeb 50%);
    border-top: 1px solid #cdcdcd;
  }
  .example__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 65px;
  }
  .example__title {
    margin-bottom: 64px;
    font-size: 60px;
  }
  .example__text {
    margin-bottom: 53px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .example__list {
    width: 366px;
    margin: 0;
  }
  .example__list-value {
    width: 162px;
    padding: 14px 5px 19px 5px;
    font-size: 30px;
    line-height: 37px;
  }
  .example__list-description {
    width: auto;
    max-width: 142px;
    font-size: 14px;
    background-color: #ffffff;
  }
  .example__cost-wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 190px;
    margin: 0;
    margin-top: 7px;
  }
  .example__cost {
    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }
  .example__cost:first-child {
    margin: 0;
  }
  .example__slider {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 68px 0;
    background-image: linear-gradient(to top, transparent 462px, #ffffff 462px), linear-gradient(to right, #f2f2f2 72%, #ebebeb 72%);
    border: none;
  }
  .example__wrapper {
    display: block;
    width: 570px;
    margin: 0;
    padding: 0 131px 0 0;
  }
  .example__title {
    margin-top: 55px;
    margin-bottom: 146px;
  }
  .example__text {
    margin-bottom: 68px;
    padding: 0;
  }
  .example__list {
    margin-bottom: 36px;
  }
  .example__list-description {
    background-color: #f2f2f2;
  }
  .example__cost-wrapper {
    width: 330px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .example__cost {
    width: auto;
    margin: 0;
  }
  .example__slider {
    width: 650px;
    margin: 0;
  }
}
.slider-image {
  position: relative;
}
.slider-image__list {
  margin-bottom: 27px;
}
.slider-image__item--after {
  display: none;
}
@media (min-width: 768px) {
  .slider-image__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 690px;
    margin-bottom: 18px;
    margin-left: 46px;
  }
  .slider-image__item {
    overflow: hidden;
  }
  .slider-image__item--before {
    width: 338px;
  }
  .slider-image__item--after {
    width: 352px;
    display: block;
  }
  .slider-image__item--after .slider-image__img {
    margin-left: -100%;
  }
  .slider-image__img {
    display: block;
    width: 690px;
    max-width: none;
    height: auto;
  }
}
@media (min-width: 1300px) {
  .slider-image__list {
    margin: 0;
    margin-bottom: 38px;
  }
}
.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2px;
}
.control__button {
  width: 70px;
  padding: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  background: none;
  border: none;
}
.control__button--before {
  text-align: right;
}
.control__button--after {
  text-align: left;
}
.control__range-mobile {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 84px;
  margin: 0;
  margin-right: 18px;
  margin-left: 18px;
  background: transparent;
}
.control__range-mobile::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 3px;
  cursor: pointer;
}
.control__range-mobile::-webkit-slider-runnable-track {
  height: 14px;
  padding: 3px 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
.control__range-default {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
  width: 428px;
  margin: 0;
  margin-right: 19px;
  margin-left: 19px;
  background: transparent;
}
.control__range-default::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  margin-top: -12px;
  background-color: #68b738;
  border: 11px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px #cdcdcd, 0 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0 1px #cdcdcd, 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.control__range-default::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0 0 0 1px #cdcdcd, 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 1px #cdcdcd, 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.control__range-default::-webkit-slider-thumb:active {
  -webkit-box-shadow: 0 0 0 2px #68b738, 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 2px #68b738, 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.control__range-default::-webkit-slider-runnable-track {
  height: 6px;
  background-color: #cdcdcd;
  border-radius: 2.5px;
}
@media (min-width: 768px) {
  .control__range-mobile {
    display: none;
  }
  .control__range-default {
    display: block;
  }
  .control__button {
    width: auto;
    margin-top: 2px;
    padding: 0 0 6px 0;
    font-size: 20px;
    border-bottom: 1px dotted #bababa;
  }
}
@media (min-width: 1300px) {
  .control {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.about-company {
  position: relative;
}
.about-company__contact--index-page {
  background-color: #ffffff;
}
.about-company__map {
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .about-company__contact {
    margin: 0 auto;
    position: absolute;
    top: 95px;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: transparent;
  }
}
@media (min-width: 1300px) and (min-width: 320px) {
  .about-company__contact {
    width: 280px;
  }
}
@media (min-width: 1300px) and (min-width: 768px) {
  .about-company__contact {
    width: 708px;
  }
}
@media (min-width: 1300px) and (min-width: 1300px) {
  .about-company__contact {
    width: 1220px;
  }
}
.contact {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 0 26px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}
@media (min-width: 320px) {
  .contact {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .contact {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .contact {
    width: 1220px;
  }
}
.contact__slogan {
  width: 125px;
  margin: 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
.contact__address {
  width: 140px;
  margin: 0;
}
@media (min-width: 768px) {
  .contact {
    padding: 64px 42px 57px 41px;
  }
  .contact__slogan {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }
  .contact__address {
    width: 168px;
    font-size: 16px;
    text-align: right;
  }
  .contact__address:first-child {
    margin-bottom: 20px;
  }
  .contact__line-break {
    display: block;
  }
}
@media (min-width: 1300px) {
  .contact {
    margin: 0;
    width: 570px;
    padding: 62px 76px 57px 76px;
    background-color: #ffffff;
  }
  .contact__address {
    text-align: left;
  }
}
.map {
  position: relative;
  height: 362px;
}
.map__google {
  position: relative;
  z-index: 1;
  height: 100%;
}
.map__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .map {
    height: 396px;
  }
}
@media (min-width: 1300px) {
  .map {
    height: 400px;
  }
}
.catalog-extra {
  margin: 0 auto;
  padding: 27px 0 35px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #444444;
}
@media (min-width: 320px) {
  .catalog-extra {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .catalog-extra {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .catalog-extra {
    width: 1220px;
  }
}
.catalog-extra__title {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #111111;
}
.catalog-extra__title::before {
  content: "";
  position: absolute;
  top: 14px;
  left: calc(100% - 33px);
  width: 100vw;
  height: 3px;
  background-color: #68b738;
}
.catalog-extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 39px;
}
.catalog-extra__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -1px;
  padding: 13px 0 17px 0;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}
.catalog-extra__name-product {
  width: 100%;
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
}
.catalog-extra__value {
  margin: 0;
  margin-bottom: 15px;
}
.catalog-extra__price {
  margin: 0;
}
.catalog-extra__to-order {
  width: 100%;
}
@media (min-width: 768px) {
  .catalog-extra {
    padding: 7px 0 76px 0;
    font-size: 16px;
    line-height: 20px;
  }
  .catalog-extra__title {
    margin-bottom: 81px;
    margin-left: 37px;
    font-size: 36px;
  }
  .catalog-extra__title::after {
    content: "";
    position: absolute;
    top: 22px;
    right: calc(100% + 40px);
    width: 100vw;
    height: 3px;
    background-color: #68b738;
  }
  .catalog-extra__title::before {
    top: 22px;
    left: calc(100% - 298px);
    width: 100vw;
    height: 3px;
  }
  .catalog-extra__list {
    margin-bottom: 69px;
  }
  .catalog-extra__item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 25px 37px 27px 38px;
    border: 1px solid #bababa;
  }
  .catalog-extra__name-product {
    width: 250px;
    margin-bottom: 26px;
    font-size: 20px;
  }
  .catalog-extra__value {
    margin-left: auto;
  }
  .catalog-extra__price {
    width: 70px;
    margin-left: 25px;
    text-align: right;
  }
  .catalog-extra__to-order {
    padding-right: 12px;
  }
}
@media (min-width: 1300px) {
  .catalog-extra {
    padding: 12px 0 86px 0;
  }
  .catalog-extra__title {
    margin-left: 0;
  }
  .catalog-extra__title::before {
    left: calc(100% - 847px);
  }
  .catalog-extra__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .catalog-extra__list {
    width: 895px;
    margin: 0;
  }
  .catalog-extra__item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 25px 0 0 2px;
    border-right: none;
    border-left: none;
  }
  .catalog-extra__value {
    width: 200px;
  }
  .catalog-extra__price {
    margin-left: 44px;
    text-align: left;
  }
  .catalog-extra__to-order {
    margin-top: -10px;
    margin-left: 10px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 245px;
    padding-right: 7px;
  }
}
.gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 280px;
  min-height: 289px;
  padding: 130px 10px 42px 9px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-color: #64a83b;
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 56px 61px,
    auto;
  background-position: center 65px,
    center;
}
.gift__text {
  width: 165px;
  margin: 0;
}
@media (min-width: 768px) {
  .gift {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 26px 120px 23px 20px;
    min-height: 200px;
    background-size: 56px 61px,
      cover;
    background-position: 91px 65px,
      center;
  }
  .gift__text {
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .gift {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-width: 245px;
    padding: 10px 10px 42px 10px;
    background-position: 96px 64px, -32px -12px;
  }
  .gift__text {
    text-align: center;
  }
}
.form {
  padding: 38px 0 32px 0;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #222222;
}
.form__fieldset {
  margin: 0 auto;
  padding: 0;
  border: none;
}
@media (min-width: 320px) {
  .form__fieldset {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .form__fieldset {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .form__fieldset {
    width: 1220px;
  }
}
.form__fieldset--cat-data {
  margin-bottom: 23px;
}
.form__fieldset--program {
  width: 320px;
  margin-bottom: 28px;
  padding: 25px 0 27px 20px;
  border: 1px solid #ebebeb;
}
.form__fieldset--contact {
  margin-bottom: 28px;
}
.form__fieldset--comment {
  margin-bottom: 27px;
}
.form__fieldset--extra {
  margin-bottom: 40px;
}
.form__legend {
  position: relative;
  margin-bottom: 34px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}
.form__legend--contact {
  width: 182px;
}
.form__legend--extra {
  margin-bottom: 39px;
}
.form__legend::before {
  content: "";
  position: absolute;
  top: 14px;
  left: calc(100% + 22px);
  width: 100vw;
  height: 3px;
  background-color: #68b738;
}
.form__line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 14px;
}
.form__line:last-child {
  margin-bottom: 0;
}
.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__list-item {
  margin-bottom: 25px;
}
.form__list-item:last-child {
  margin: 0;
}
.form__label {
  position: relative;
  text-transform: uppercase;
}
.form__label--cat-data {
  margin-right: 14px;
}
.form__label--radio {
  padding: 4px 5px 5px 45px;
  cursor: pointer;
}
.form__label--contact {
  margin-right: 10px;
}
.form__label--radio::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border: 8px solid #ffffff;
  -webkit-box-shadow: 0 0 0 1px #cdcdcd;
          box-shadow: 0 0 0 1px #cdcdcd;
  border-radius: 50%;
}
.form__label--checkbox {
  padding: 4px 5px 5px 45px;
  cursor: pointer;
}
.form__label--checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  background-image: none;
  background-size: 22px 17px;
  background-position: 4px 5px;
  background-repeat: no-repeat;
  border: 1px solid #cdcdcd;
}
.form__label--radio:hover::before,
.form__label--radio:focus::before {
  -webkit-box-shadow: 0 0 0 1px #bababa;
          box-shadow: 0 0 0 1px #bababa;
}
.form__label--radio:active {
  opacity: 0.3;
}
.form__label--radio:active::before {
  -webkit-box-shadow: 0 0 0 1px #bababa;
          box-shadow: 0 0 0 1px #bababa;
}
.form__label--checkbox:hover::before,
.form__label--checkbox:focus::before {
  border-color: #bababa;
}
.form__label--checkbox:active {
  opacity: 0.3;
}
.form__label--checkbox:active::before {
  border-color: #bababa;
}
.form__icon {
  position: absolute;
  fill: #222222;
}
.form__icon--email {
  top: 16px;
  right: 16px;
}
.form__icon--tel {
  top: 13px;
  right: 13px;
}
.form__input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 12px 10px 13px 15px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.5);
}
.form__input::-webkit-input-placeholder {
  color: #444444;
}
.form__input:-ms-input-placeholder {
  color: #444444;
}
.form__input::-ms-input-placeholder {
  color: #444444;
}
.form__input::placeholder {
  color: #444444;
}
.form__input--invalid {
  border-color: #ff8282;
}
.form__input--invalid ~ .form__icon {
  fill: #ff8282;
}
.form__input:hover {
  border-color: #cdcdcd;
}
.form__input:focus {
  border-color: #222222;
}
.form__input:focus ~ .form__icon {
  fill: #68b738;
}
.form__input:checked ~ .form__label--radio::before {
  background-color: #68b738;
}
.form__input:checked ~ .form__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
}
.form__textaria {
  width: 100%;
  height: 150px;
  padding: 13px 12px 13px 14px;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.5);
  resize: none;
}
.form__textaria::-webkit-input-placeholder {
  color: #444444;
}
.form__textaria:-ms-input-placeholder {
  color: #444444;
}
.form__textaria::-ms-input-placeholder {
  color: #444444;
}
.form__textaria::placeholder {
  color: #444444;
}
.form__textaria:hover {
  border-color: #cdcdcd;
}
.form__textaria:focus {
  border-color: #222222;
}
.form__button-send {
  margin: 0 auto;
  margin-bottom: 21px;
}
@media (min-width: 320px) {
  .form__button-send {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .form__button-send {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .form__button-send {
    width: 1220px;
  }
}
.form__info {
  margin: 0 auto;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}
@media (min-width: 320px) {
  .form__info {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .form__info {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .form__info {
    width: 1220px;
  }
}
@media (min-width: 768px) {
  .form {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 66px 37px 72px 40px;
  }
  .form__fieldset {
    width: 100%;
    margin: 0;
  }
  .form__fieldset--cat-data {
    margin-bottom: 72px;
  }
  .form__fieldset--program {
    margin-bottom: 75px;
    padding: 33px 0 34px 20px;
  }
  .form__fieldset--contact {
    margin-bottom: 65px;
  }
  .form__fieldset--comment {
    margin-bottom: 63px;
  }
  .form__fieldset--extra {
    margin-bottom: 13px;
  }
  .form__legend {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
  .form__legend--contact {
    width: auto;
  }
  .form__legend--extra {
    margin-bottom: 66px;
  }
  .form__legend::after {
    content: "";
    position: absolute;
    top: 22px;
    right: calc(100% + 40px);
    width: 100vw;
    height: 3px;
    background-color: #68b738;
  }
  .form__legend::before {
    top: 22px;
    left: calc(100% + 39px);
    width: 100vw;
    height: 3px;
  }
  .form__line {
    margin-bottom: 20px;
  }
  .form__list--extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__list-item {
    margin-bottom: 32px;
  }
  .form__list-item--extra {
    width: 287px;
    margin-bottom: 51px;
  }
  .form__label {
    font-size: 20px;
    line-height: 20px;
  }
  .form__label--cat-data {
    margin-right: 19px;
  }
  .form__label--radio {
    padding: 4px 5px 6px 68px;
  }
  .form__label--contact {
    margin-right: 16px;
  }
  .form__label--radio::before {
    top: 1px;
    left: 9px;
    width: 38px;
    height: 38px;
    border: 10px solid #ffffff;
    -webkit-box-shadow: 0 0 0 1px #cdcdcd;
            box-shadow: 0 0 0 1px #cdcdcd;
  }
  .form__label--checkbox {
    padding: 4px 5px 7px 59px;
  }
  .form__label--checkbox::before {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-position: 9px 10px;
  }
  .form__icon--email {
    top: 20px;
    right: 20px;
  }
  .form__icon--tel {
    top: 17px;
    right: 17px;
  }
  .form__input {
    padding: 9px 10px 11px 18px;
    font-size: 20px;
    line-height: 20px;
  }
  .form__textaria {
    height: 174px;
    padding: 9px 19px;
    font-size: 20px;
    line-height: 30px;
  }
  .form__button-send {
    width: 283px;
    margin: 0;
    padding: 15px 6px 17px 5px;
    font-size: 20px;
  }
  .form__info {
    width: 225px;
    padding-top: 16px;
    font-size: 16px;
    text-align: left;
  }
}
@media (min-width: 768px) and (min-width: 320px) {
  .form {
    width: 280px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .form {
    width: 708px;
  }
}
@media (min-width: 768px) and (min-width: 1300px) {
  .form {
    width: 1220px;
  }
}
@media (min-width: 1300px) {
  .form {
    padding: 66px 0 82px 0;
  }
  .form__fieldset--cat-data {
    width: 570px;
    margin-bottom: 69px;
  }
  .form__fieldset--program {
    width: 570px;
    margin-bottom: 69px;
  }
  .form__fieldset--contact {
    margin-bottom: 48px;
  }
  .form__fieldset--extra {
    margin-bottom: 21px;
  }
  .form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form__line--email {
    width: 563px;
  }
  .form__line--tel {
    width: 571px;
  }
  .form__list--extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__list-item--extra {
    width: 245px;
  }
  .form__label--contact {
    margin-right: 19px;
  }
  .form__button-send {
    width: 568px;
    padding-left: 10px;
  }
  .form__info {
    width: 484px;
  }
}

/*# sourceMappingURL=style.css.map */
